<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Workouts</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" th:href="@{/css/workouts.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body>
<div id="navbar-placeholder"></div>
<script>
    $(document).ready(function(){
        $("#navbar-placeholder").load("/sharedElements/navbar.html");
    });
</script>

<div class="container mt-4">
    <h2>Add New Workout</h2>
    <form th:action="@{/workoutMvc/saveWithRNGValidation}" th:object="${workout}" method="post">
        <div class="form-group">
            <label for="name">Workout Name</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Enter workout name">
        </div>
        <div class="form-group">
            <label for="instructions">Instructions</label>
            <textarea class="form-control" id="instructions" th:field="*{instructions}" placeholder="Workout instructions"></textarea>
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control" id="type" th:field="*{type}">
                <option value="">Choose...</option>
                <option th:each="type : ${T(av.task07.interoperability.DAL.Enum.WorkoutType).values()}" th:value="${type}" th:text="${type}">Type</option>
            </select>
        </div>

        <div class="form-group">
            <label for="numberOfSets">Number of Sets</label>
            <input type="number" class="form-control" id="numberOfSets" th:field="*{numberOfSets}" placeholder="Enter number of sets">
        </div>
        <div class="form-group">
            <label for="setDuration">Duration (seconds)</label>
            <input type="number" class="form-control" id="setDuration" th:field="*{setDuration}" placeholder="Duration per set in seconds">
        </div>
        <div class="form-group">
            <label for="workoutContent">Image URL</label>
            <input type="text" class="form-control" id="workoutContent" th:field="*{content}" placeholder="Image for the exercise">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <br>
        <br>
    </form>
</div>

<!-- Footer-->
<footer class="py-5 bg-dark mt-auto">
    <div class="container"><p class="m-0 text-center text-white">avuksan &copy; IIS Project</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
